<ion-header class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentActionSheet()">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Competición</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding header ion-text-center">
    <div class="ion-text-center mb-3">
      <ion-label>
        <h6>05 JUN. 2022</h6>
      </ion-label>
    </div>
  </div>
  <div class="container">
    <div class="ion-text-end">
      <ion-chip class="mt-3" color="dark" item-right="true">
        <ion-label>Aire Libre</ion-label>
      </ion-chip>
    </div>
    <h3 class="ion-text-center track mt-3">800 ml</h3>
    <h1 class="ion-text-center result">02:07.13</h1>
    <ion-item lines="none" class="mt-3 cardd">
      <h5>Campeonato de Madrid absoluto</h5>
    </ion-item>
    <ion-item lines="none" class="mt-3 card-top">
      <h5>Lugar</h5><br>
    </ion-item>
    <ion-item lines="none" class="card-bottom">
      <p>Vallehermoso, Madrid</p>
    </ion-item>
  </div>
</ion-content>
