<ion-tabs>
  <ion-tab-bar slot="bottom" color="light">
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="trainings">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Entrenamientos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="competitions">
      <ion-icon name="trophy-outline"></ion-icon>
      <ion-label>Competiciones</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
