<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="createTraining()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Entrenamientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="slides ion-margin-bottom">
    <ion-datetime first-day-of-week="1"
                  presentation="date" size="cover">
    </ion-datetime>
  </div>
  <div class="container">
    <h4>Kilómetros este mes</h4>
    <ion-slides [options]="slidesOptions">
      <ion-slide>
        <ion-chip outline color="light">
          <ion-label>Totales <span>95,54</span></ion-label>
        </ion-chip>
      </ion-slide>
      <ion-slide>
        <ion-chip>
          <ion-label>Carrera <span>95,54</span></ion-label>
        </ion-chip>
      </ion-slide>
      <ion-slide>
        <ion-chip>
          <ion-label>Carrera en cinta <span>0</span></ion-label>
        </ion-chip>
      </ion-slide>
      <ion-slide>
        <ion-chip>
          <ion-label>Ciclismo <span>0</span></ion-label>
        </ion-chip>
      </ion-slide>
      <ion-slide>
        <ion-chip>
          <ion-label>Ciclismo en sala <span>0</span></ion-label>
        </ion-chip>
      </ion-slide>
      <ion-slide>
        <ion-chip>
          <ion-label>Elíptica <span>0</span></ion-label>
        </ion-chip>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="container">
    <h4>Actividades</h4>
    <ion-item lines="none" class="mt-3" (click)="showTraining()">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="6"><h4 class="ion-text-start">Carrera</h4></ion-col>
          <ion-col size="6"><h5 class="ion-text-end">30 MAY. 2022</h5></ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col size="4"><h5 class="ion-text-start">Tiempo</h5></ion-col>
          <ion-col size="4"><h5 class="ion-text-end">Distancia</h5></ion-col>
          <ion-col size="4"><h4 class="ion-text-end">Ritmo</h4></ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col size="4"><h5 class="ion-text-start">16:21 min</h5></ion-col>
          <ion-col size="4"><h5 class="ion-text-end">3.66 km</h5></ion-col>
          <ion-col size="4"><h4 class="ion-text-end">4.25 /km</h4></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>
</ion-content>
